<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= entity.org %>的收款主页 - 萌爱心</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <!--[if lt IE 8]>
    <link href="css/bootstrap-ie7.css" rel="stylesheet">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <h1 class="headline"><%= entity.org %>的收款主页<small> | 萌爱心</small></h1>
    <div class="text-introduction">
        <div class="site-logo col-md-3">
            <img class="img-thumbnail" src="<%= entity.logo_url %>">
        </div>
        <div class="site-text col-md-9">
            <h3>这里是 <%= entity.org %> 的捐款页面：</h3>
            <p><%= entity.intro %></p>
        </div>
    </div>
    <div class="pay">
        <div class="col-md-8">
            <div class="pay-group">
                <label>付款方式：</label>
                <img class="selected" src="img/0.png">
                <% if (entity.payments.unionpay.id) { %>
                <img src="img/30.png">
                <% } %>
                <% if (entity.payments.paypal) { %>
                <img src="img/42.png">
                <% } %>
            </div>
            <div class="pay-form">
                <div>
                    <label>收款账户：</label><strong><%= entity.payments.alipay_account %></strong>
                </div>
                <% if (mode === 'api') { %>
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label>付款金额：</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">人民币 <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">人民币</a></li>
                                    <li><a href="#">美元</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">付款留言：</label>
                        <input type="text" class="form-control inline" placeholder="有什么想说的么">
                    </div>
                    <button type="submit" class="btn btn-warning">&nbsp;&nbsp;确认付款&nbsp;&nbsp;</button>
                </form>
                <% } else if (mode === 'link') { %>
                <!-- 临时放一下样式 by zh -->
                <a style="margin-top: 16px;" rel="noreferrer" target="_blank" class="btn btn-warning" href="http://shenghuo.alipay.com/send/payment/fill.htm?optEmail=<%= entity.payments.alipay_account %>">&nbsp;&nbsp;点击进入支付宝&nbsp;&nbsp;</a>
                <div style="margin-top: 50px;"><p>如果您的手机装有 <a href="http://mobile.alipay.com/">支付宝钱包</a> ，也可以直接扫描右侧二维码 </p></div>
                <% } %>
                <% /* 這裏放銀聯的信息。需要在點擊銀聯付款方式的時候顯示該內容。
                對應的變量是 'entity.payments.unionpay.id', 'entity.payments.unionpay.bank', 'entity.payments.unionpay.name' */ %>
            </div>
        </div>
        <% if (entity.payments.alipay_qrcode) { %>
        <div class="qr-code col-md-4">
            <img class="img-thumbnail" src="<%= entity.payments.alipay_qrcode %>">
        </div>
        <% } %>
    </div>
    <div class="footer">
        <small>炒鸡厉害呢 | 萌爱心 | 女装赛高</small>
    </div>
</div>
</body>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</html>